@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Medium";
  src: url("../fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Light";
  src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
  font-family: "Times Roman Italic";
  src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  padding: 0;
  font-family: "TTNorms";
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

/* Forms
     ========================================================================== */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.container {
  width: 73rem;
  margin-right: auto;
  margin-left: auto;
}
.hero-btn {
  display: block;
  width: 8rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 1.5em;
  border-radius: 0.5rem;
}

.row-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.nav-linke {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
}

.nav-list a {
  text-decoration: none;
  padding-right: 2rem;
  color: #081d43;
}

.nav-btn__link {
  background-color: #0050c8;
}
.header__icon{
  display: none;
  font-size: 1.4rem;
  cursor: pointer;
  z-index: 1;
}
.header-buttm {
  display: flex;
  margin-top: 6rem;
}

.content-container {
  width: 50%;
  display: flex;
  align-items: center;
}
.content {
  width: 28rem;
}
.content-p {
  line-height: 2rem;
  color: #6c7890;
}
.content-link {
  display: flex;
}
.img-header {
  width: 50%;
}
.header-content__img {
  width: 100%;
}
.content-btn__1 {
  background-color: #87bc25;
  margin-right: 1.5rem;
}
.content-btn__2 {
  background-color: #0050c8;
}

/*start main*/
.works {
  text-align: center;
  padding: 8rem 0 2rem 0;
}
.works-text {
  color: #6c7890;
}
.works-titel {
}
.works-content {
  display: flex;
  justify-content: space-around;
}
.works-item {
  flex-basis: 17rem;
}
.works-content__titel {
}
.works-content__text {
  color: #6c7890;
  line-height: 2rem;
}
/* person start */
.person-comments {
  background-color: #2f5bea;
  text-align: center;
  color: #fff;
  padding: 2rem 0;
}
.person-titel {
}
.person-text {
}
.comments {
  display: flex;
  gap: 1rem;
  margin-top: 2.8rem;
}
.comeent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  text-align: initial;
  background-color: #fff;
 
  border-radius: 1rem;
  padding: 0 2rem 0.5rem 2rem;
}
.comment-text {
  line-height: 2rem;
  color: #6c7890;
  font-family: "Times Roman Italic";
}
.teacher-info {
    display: flex;
    align-items: center;
    border-top: 1px solid #dedede;
}
.teacher-img {
}
.teacher-name {
  color: #000;
  margin-left: 1rem;
}
.logo{
    display: flex;
    margin-top: 5rem;
    align-items: center;
    justify-content: space-between;

}
/* portfolio start */
.portfolio{
   text-align: center;
   padding: 3rem 0;
}
.portfolio-text{
  color: #6c7890;
  margin-bottom: 0;
}
.portfolio-titel{
  margin-bottom: 2rem;
  margin-top: .5rem;
}
.portfolio--item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 3rem;
}
.portfolio__img{
margin-bottom: 2rem;
}
/* start footer */
.footer{
  background-color: #2f5bea;
  color: #fff;
  padding: 3.5rem 0;
}
.section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.4rem 0.4rem 1.5rem;
 
}
.newsletter-text{
  font-size: 1.5rem;
}
.input-email{
  display: flex;
  background-color: #fff;
 padding:  0.4rem 0.4rem 0.4rem 1.5rem;
  border-radius: 1rem;
  gap: 5rem;
}
input[type="email"]{
  border: 0;
}
button[type="submit"]{
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 0;
  background-color: #2f5bea;
}
.last{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  color: #b3b3b3;
}
/* Project Responsive */

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
 
  
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .nav-btn__link{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .header-top{
    padding: 0 1rem;
  }
  .header-buttm{
    margin-top: 2rem;
    padding: 0 1rem;
  }
  .nav-list{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #0050c8;
    transition: all 0.5s;
    /* padding: 2rem 1rem; */
    margin: 0;
    flex-direction: column;
    width: 16rem;
    
  }
  .menu-item{
    margin: 1rem auto 0 auto;
  }
  .header__icon{
    display: block;
  }
  .header-buttm{
    flex-direction: column-reverse;
  }
  .content-container{
    width: 100%;
  }
  .content{
    width: 100%;
 
  }
  .img-header {
    width: 100%;
 
  }
  .works-content{
    flex-wrap: wrap;
  } 
  .works-item{
    flex-basis: auto;
  }
  .img-img{
    width: 100%;}

  .comments{
    margin: 2.8rem 1rem 0 1rem;
    flex-wrap: wrap;
  }
  .comeent{
    height: auto;
  }
  .comment-text{
    line-height: 1.3rem;
  }
  .logo{
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .portfolio-item{
    flex-basis: 16rem;
  }
  .portfolio__img{
    width: 100%;
  }
  .section{
    flex-direction: column;
    padding: 0.4rem;
  }
}

@media only screen and (max-width: 576px) {
 .small-font{
  font-size: 1.2em;
 }
  .container {
    max-width: 100%;
  }
  .content-link{
    flex-direction: column;
    align-items: center;
  }
  .content-btn__1{
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .portfolio-item{
    flex-basis: 26rem;
  }
  .section{
    text-align: center;
  }
.newsletter-text{
  font-size: 1.2rem;
}
.input-email{
  gap: 0;
}
input[type="email"]{
  width: 100%;
}
button[type="submit"] {
  padding: 0.5rem 1rem;
}
.last{
  flex-direction: column;
  padding: 0 1rem;
}
}
